body{
  font-family: 'Amatic SC', cursive;
}

.imgs {
  display: flex;
  justify-content: center;
}

.heading{
  text-align:center;
  font-size: 110px;
}

img{
  width:20%;
  padding-top: 80px;
}

.braille_img {
  border-style: dashed;
  border-right: 2em;
}

.braille_img_last {
  border-style: dashed;
}

form{
  display: flex;
  justify-content: center;
  padding-top: 100px;
  font-size: 60px;
}

input{
  background: #FFF;
  border-width: medium;
  border-color: black;
  padding: 0 20px;
  margin-bottom: 50px;
}

input:hover {
  background: #ff6865;
}

.hands_img{
  width: 70%;
}

@media screen and (min-width: 600px) {

  .heading{
    text-align:center;
    font-size: 150px;
  }

  img{
    width:20%;
    padding-top: 80px;
  }

  .braille_img {
    border-right: 2em;
  }

  form{
    padding-top: 200px;
    font-size: 100px;
  }

  input{
    padding: 0 40px;
    margin-bottom: 100px;
  }

}
