
.heading{
  text-align:center;
  font-size: 130px;
}

img{
  width:30%;
  padding-top: 50px;
}

.img_align{
  text-align: center;
}


form{
  display: flex;
  justify-content: center;
  padding-top: 100px;
  font-size: 100px;
}

input{
  background: #FFF;
  border-width: thick;
  border-color: black;
  padding: 0 40px;
  margin-bottom: 100px;
}

input:hover {
  background: #ff1212;
}
