.heading{
  font-family: 'Amatic SC', cursive;
  text-align:center;
  font-size: 130px;
}

.img_align{
  text-align: center;
  margin-top: 100px;
}

form{
  display: flex;
  justify-content: center;
  padding-top: 100px;
  font-size: 100px;
}

input{
  font-family: 'Amatic SC', cursive;
  background: #FFF;
  border-width: thick;
  border-color: black;
  padding: 0 40px;
  margin-bottom: 100px;
}

input:hover {
  background: #ff1212;
}

h2{
  font-family: 'Sen', sans-serif;
}
