html, body {
    display: grid;
    height: 40%;
}

button, .next{
    border: 4px solid #3F3F3F;
    color: #3F3F3F;
    background: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    margin: auto;
    padding: 12px 32px 12px 82px;
    position: relative;
    text-decoration: none;
}



button .label,
button .icon-arrow,
.next .label,
.next .icon-arrow  {
    backface-visibility: hidden;
    transform: translateZ(0);
    perspective: 1000;
}

button .label,
.next .label,
form .label {
    display: inline-block;
    transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1);
}

button .icon-arrow,
.next .icon-arrow {
    fill: #3F3F3F;
    height: 15px;
    top: 17px;
    transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1), opacity .4s cubic-bezier(0.86, 0, 0.07, 1);
    width: 35px;
}

button .icon-arrow.before,
.next .icon-arrow.before  {
    left: 32px;
    margin-right: 15px;
    position: absolute;
    transform-origin: left center;
}

button .icon-arrow.after,
.next .icon-arrow.after {
    margin-left: 15px;
    opacity: 0;
    position: absolute;
    right: 32px;
    transform: translateX(75%) scaleX(0.1);
    transform-origin: right center;
}

button:hover .label,
.next:hover .label{
    transform: translateX(-52px);
}

button:hover .icon-arrow.before,
.next:hover .icon-arrow.before {
    opacity: 0;
    transform: translateX(-75%) scaleX(0.1);
}

button:hover .icon-arrow.after,
.next:hover .icon-arrow.after {
    opacity: 1;
    transform: translateX(0) scaleX(1);
}

button:active,
.next:active {
    border-color: #FD6154;
    color: #FD6154;
}

button:active .icon-arrow,
.next:active .icon-arrow {
    fill: #FD6154;
}

form{
  padding: 0;
	background: none;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
